.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 169ms;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transition-duration: 420ms;
}